a[href$=".mp3"]:after {
  content:" \1f508";
  vertical-align:top;
  font-size:8px;
  position: relative;
  left: -4px;
}

.missing-sound:after {
  content:" \1f507" !important;
  vertical-align:top !important;
  font-size:8px !important;
  position: relative !important;
  left: -4px !important;
}
