/* Estrangelo Esarhaddon */
@font-face {
  font-family: 'Estrangelo Esarhaddon';
  src: local('Estrangelo Esarhaddon'),
  url('EstrangeloEsarhaddon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* East Assyrian */
@font-face {
  font-family: 'EastAssyrian';
  src: local('EastAssyrian');
  src: url('EastAssyrian.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Serto Jerusalem Bold */
@font-face {
  font-family: 'SertoJerusalem';
  src: local('Serto Jerusalem Bold');
  src: url('syrcomjerusalembold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Noto Rashi Hebrew */
@font-face {
  font-family: 'Noto Rashi Hebrew';
  src: url('NotoRashiHebrew-VariableFont_wght.ttf');
}

@font-face {    
  font-family: 'Taamey D Web';
  src: url('Taamey_D.woff2') format('woff2'),
    url('Taamey_D.woff') format('woff') ;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
