body {
  background-color: white;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
}

header div {
  background-color: white;
  padding: 5px 3px 7px 3px;
}

a {
  text-decoration: none;
  color: blue;
}

a[href$=".mp3"]::after,
a[href$=".m3u"]::after {
  content: " \1F50A";
}

.english-text {
  text-align: left;
}

.estrangela {
  font-family: 'Estrangelo Esarhaddon';
  font-size: xx-large;
  text-align: right;
}

.section-play {
  font-family: 'Estrangelo Esarhaddon';
  font-size: xx-large;
  text-align: center;
}

.serto {
  font-family: 'SertoJerusalem';
  font-size: 30px;
  text-align: right;
}

.swadaya {
  font-family: 'EastAssyrian';
  font-size: 29px;
  text-align: right;
}

.semitic {
  font-size: 28px;
  text-align: right;
}

span.highlight {
  background-color: #FFFF00;
}

span.unhighlight {
  background-color: transparent;
}

rect.highlight {
  fill: #FFFF00;
  opacity: 0.5;
}

rect.unhighlight {
  opacity: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.lg {
  width: 951px;
}


.lg .item-m {
  min-width: 323px;
  padding: 0;
  margin: 0;
}

.lg .item-s {
  min-width: 314px;
  padding: 0;
  margin: 0;
}


.nd {
  width: 690px;
  padding-right: 30px;
}

.nd .item {
  width: 270px;
}

.rz {
  width: 951px;
  flex-direction: column;
}

.rz .item {
  margin-bottom: 10px;
}

#lg-container span,
#lg-svg rect,
#nd-container span,
#nd-svg rect,
#rz-container {
  cursor: pointer;
}

.all {
  color: forestgreen;
}

.amma {
  color: steelblue;
}

.shamasha {
  color: lightsteelblue;
}