body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: large;
}

header {
  background-color: #fc0;
}

a {
  text-decoration: none;
}

span.label {
  white-space: nowrap;
}

div.highlight {
  background-color: #FFFF00;
}

span.highlight {
  background-color: #FFFF00;
}

div.title {
  font-style: italic;
}

div.text div[id] {
  cursor: pointer;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.chapter {
  font-weight: bolder;
  font-size: smaller;
}

.no {
  font-size: smaller;
  font-weight: bold;
}

.vtop {
  vertical-align: top;
}

.row {
  display: flex;
  padding: 5px 10px 5px 10px;
}

.col {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  row-gap: 10px;
}