body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

table.wide {
  width: 100%;
}

table.wide>tbody>tr>td {
  width: 33%;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

.chapter {
  font-weight: bolder;
  font-size: larger
}

.xlarger {
  font-size: x-large;
}

.larger {
  font-size: larger;
}

.large {
  font-size: large;
}

.right {
  text-align: right;
}

div.highlight {
  background-color: #FFFF00;
}

.center {
  text-align: center;
}

h5 {
  font-size: 100%;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}

div.title {
  font-style: italic;
}

.no {
  font-size: smaller;
  font-weight: bold;
}

div.text div[id] {
  cursor: pointer;
}

.vtop {
  vertical-align: top;
}
