body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: large;
}

a {
  text-decoration: none;
}

h5 {
  font-size: 100%;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}

div.highlight {
  background-color: #FFFF00;
}

div.title {
  font-style: italic;
}

div.text div[id] {
  cursor: pointer;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.chapter {
  font-weight: bolder;
  font-size: larger
}

.no {
  font-size: smaller;
  font-weight: bold;
}

.vtop {
  vertical-align: top;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.grid-item {
  padding-bottom: 5px;
  padding-right: 5px;
}