.rz {
  width: 951px;
  flex-direction: column;
}

.rz .item {
  margin-bottom: 10px;
}

#rz-container {
  cursor: pointer;
}

.all {
  color: forestgreen;
}

.amma {
  color: steelblue;
}

.shamasha {
  color: lightsteelblue;
}

.transcript {
  text-align: left;
  font-size: small;
}
