body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
  background-color: #E6F3F2;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

span.label {
  white-space: nowrap;
}

.xlarger {
  font-size: x-large;
}

.larger {
  font-size: larger;
}

.large {
  font-size: large;
}

div.highlight {
  background-color: #FFFF00;
}

.center {
  text-align: center;
}

.clickable div[id] {
  cursor: pointer;
}

.chapter {
  font-size: larger;
  font-weight: bolder;
}

.underline {
  text-decoration-line: underline;
}

.heb {
  font-family: 'David';
  font-size: 160%;
  direction: rtl;
  text-align: right;
}

.heb-larger {
  font-family: 'David';
  direction: rtl;
  font-size: larger;
  text-align: right;
}

.rashi {
  font-family: 'Noto Rashi Hebrew';
  font-size: x-large;
  direction: rtl;
  text-align: right;
}

.no {
  line-height: 0.7;
  padding: 5px 0 0 0;
  margin: 0;
}

.ivn {
  font-family: 'David';
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.enn {
  font-size: 80%;
  padding: 0;
  margin: 0;
}

.eng {
  direction: ltr;
  color: blue
}

.bold {
  font-weight: bold;
}

div.show {
  display: block;
}

span.show {
  display: inline;
}

div.tran {
  display: block;
  direction: ltr;
  text-align: right;
}

div.parsh {
  text-align: center;
}

div.ntran {
  display: none;
  direction: ltr;
}

.hide {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  row-gap: 10px;
}

.row {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  direction: rtl;
  text-align: right;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hrow {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px 7px 10px;
  justify-content: space-between;
}