html,
body,
div,
label {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
  background-color: #E6F3F2;
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

header>div.vrow {
  padding: 0 10px 7px 10px;
}

main {
  padding: 0 10px 7px 10px;
}

main.clickable div[id] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

span.label {
  white-space: nowrap;
}

/* x-large */
.x {
  font-size: x-large;
}

/* larger */
.la {
  font-size: larger;
}

/* large */
.l {
  font-size: large;
}

/* text */
.t {
  font-size: 160%;
}

/* regular */
.r {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

div.highlight {
  background-color: #FFFF00;
}

.center {
  text-align: center;
}

.chapter {
  font-weight: bolder;
}

.heb {
  font-family: David, 'Taamey D Web';
  direction: rtl;
  text-align: right;
}

.rashi {
  font-family: 'Noto Rashi Hebrew';
  direction: rtl;
  text-align: right;
}

.no {
  line-height: 0.5;
  padding: 7px 0 0 0;
  margin: 0;
}

.enn {
  font-size: 80%;
  padding: 0;
  margin: 0;
}

.eng {
  direction: ltr;
  color: blue
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

div.show {
  display: block;
}

span.show {
  display: inline;
}

div.tran {
  display: block;
  direction: ltr;
  text-align: right;
}

div.parsh {
  text-align: center;
}

div.ntran {
  display: none;
  direction: ltr;
}

.hide {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.row {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  direction: rtl;
  text-align: right;
}

.hrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}

.vrow {
  display: flex;
  flex-direction: column;
}


.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vcol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-end;
}
