.swadaya {
  font-family: 'Estrangelo Esarhaddon';
  direction: rtl;
  text-align: right;
  font-size: x-large;
}

table {
  width: 100%; 
}

h3 {
  text-align: center;
}

.xlarger {
  font-size: x-large;
}

.larger {
  font-size: large;
}

.right {
  text-align: right;
  color: blue
}