.swadaya {
  font-family: 'EastAssyrian';
  direction: rtl;
  text-align: right;
  font-size: x-large;
}

table.header {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

td {
  padding-right: 7px;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

sup {
  color: red;
}

hr {
  color: blue;
}

li {
  font-style: italic;
}

div {
  min-width: 860px;
}

.xlarger {
  font-size: x-large;
}

.larger {
  font-size: large;
}

.right {
  text-align: right;
  color: blue
}

.hidden {
  visibility: hidden;
}

td.highlight {
  background-color: #FFFF00;
}