.swadaya {
  font-family: 'Estrangelo Esarhaddon';
  direction: rtl;
  text-align: right;
  font-size: x-large;
}

table.header {
  width: 100%;
}

table {
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

td {
  padding-right: 7px;
}

h3 {
  text-align: center;
}

.xlarger {
  font-size: x-large;
}

.larger {
  font-size: large;
}

.right {
  text-align: right;
  color: blue
}